
    .left-menu-popper,.el-menu--popup{
      width:128px;
      overflow: hidden;
    }
    .left-menu-popper .el-menu-item{
      height: 40px;
      line-height:40px;
      padding: 0 16px !important;
      font-size:12px;
    }
    .left-menu-popper .el-menu-item-group__title{
      padding:0;
    }
    .left-menu-popper .el-menu-item a{
      color:#fff;
      height: 40px;
      line-height:40px;
      display: block;
    }
